@{
    ViewData["Title"] = "Índice";
}

<main class="row p-4">
    <div class="col-12 col-md-6">
        <p>¡Hola mundo! Bienvenidos a este lugar donde puedes expresarte y ser tu mismo</p>
    </div>
</main>