.PreviewImage {
    max-height: 75px;
    overflow: hidden;
}

.PreviewImage>img {
    width: 150%;
}

.PreviewImage>p {
    position: absolute;
    color: white;
    top: 0px;
    right: 8px;
    z-index: 999;
    cursor: pointer;
}